* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

body {
    position: relative;
    min-height: 100%;
}

a:hover {
    text-decoration: none;
}

#root {
    font-family: 'Roboto', sans-serif;
}
.app {
    padding: 2.5em;
}

@media only screen and (max-width: 500px) {
    .app {
        padding: 0.5em 0 0 0;
    }
}

@media only screen and (max-width: 550px) {
    .app {
        padding: 1em 0 0 0;
    }
}

